annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
colorama==0.4.6
cssselect2==0.8.0
distro==1.9.0
Django==5.1.5
django-crispy-forms==2.3
django-emailauth==0.1
django-fontawesome==1.0
django-modeltranslation==0.19.13
django-otp==1.5.4
django-tinymce==4.1.0
fonttools==4.57.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jiter==0.8.2
openai==1.65.2
pillow==11.1.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
python-dotenv==1.0.1
PyYAML==6.0.2
razorpay==1.4.2
reportlab==4.3.1
requests==2.32.3
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.4.0
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1
